hr{
    width: 7% !important;
    height: 4px !important; 
    background-color: orange !important;
    margin: 0 auto !important;
}
.button.is-primary{
    background-color: orange;
}
.button.is-primary:hover{
    background-color: rgb(230, 154, 13);
}
.button .is-info .is-rounded:hover{

    background-color: orange;
    
}



.column .icon{
    transition: all 500ms;
    border: solid 1px #e3e3e3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
   
 
}
    .column:hover .icon{
        transform: translateY(-10px);
      color: orange;

    }
    h2{
        color: black;
       
    }
     .img{
        background-image: url('https://source.unsplash.com/g30P1zcOzXo/1600x900');
        background-size: cover;
        background-repeat: no-repeat;
      
    }
    .price{
        color: black;
        font-weight: 700;
        font-size: 30px;

    }
    .color{
        background-color: #eff4f7;
    }
    .foot{
        background-color: #444f60;
    }
h3{
    color: white;
}
ul li a{
    color: darkgrey;
}
ul li a:hover{
    color: white;
}
.navbar{
    position: fixed;
    background-color: white;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
h3{
    margin-bottom: 20px;
}
a{
    color: orange;
    font-size: 20px;
    line-height: 50px;
    
    
}
a:hover{
    color: white;
}







